<p>Добавить документ:</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" align="center"><tbody>
            <tr><td>Дата акта</td>
            <td>Тип акта</td>
            <td>Номер П</td>
            <td>Дата П</td>
            <td>Прикрепить акт</td>
            <td>Загрузить</td>
            </tr>
        <tr>
            <td><input type="date" name="date"/></td>
            <td><select name="typebox" required>
                    <option value="1">У</option>
                    <option value="2">В</option>
                    <option value="3">Т</option>
                    <option value="4">Те</option>
                    <option value="5">Ув</option>
            </select></td>
            <td><input type="number" name="order_numb"/></td>
            <td><input type="date" name="order_date"/></td>
            <td><input type="file" name="myfile" /></td>
            <td><button type="submit">Upload file</button></td>
        </tr>
        </tbody></table>
    </form>

    <hr>

    <p>File uploaded at:
    <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
    </p>
    <a href="{% url 'home' %}">Return to home</a>